Diagnostics:
  ClangTidy:
    Add: modernize*
    Remove: [readability-identifier-length,
            readability-redundant-control-flow,
            readability-magic-numbers,
            readability-uppercase-literal-suffix,
            readability-function-cognitive-complexity,
            ]
CompileFlags:
  CompilationDatabase: .
  Compiler: /Applications/ArmGNUToolchain/13.2.Rel1/arm-none-eabi/bin/arm-none-eabi-gcc
  Remove: [-mfp16-format=ieee]
  Add: [-Wunused-parameter]
