BasedOnStyle: LLVM
IndentWidth: 2
BreakBeforeBraces: Stroustrup
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: true
SortIncludes: false
AlignConsecutiveMacros: true
ColumnLimit: 120
UseTab: Never

