Diagnostics:
  ClangTidy:
    Add: modernize*
    Remove: [readability-identifier-length,
            readability-redundant-control-flow,
            readability-magic-numbers,
            readability-uppercase-literal-suffix,
            readability-function-cognitive-complexity,
            ]
CompileFlags:
  CompilationDatabase: .
  Remove: [-mfp16-format=ieee]
  Add: [-Wunused-parameter]
