# backup files
*~
\#*\#
*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# ARM exe
*.bin
*.axf
*/gcc/*

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

.DS_Store
.settings/*
.cproject
.project
*.prefs
compile_commands.json
.vscode/*
c_cpp_properties.json
.cache
/.metadata/
projects/cm_mcu/ZynqMon_addresses.c
projects/cm_mcu/ZynqMon_addresses.h
PL_MEM_CM_rev1.xml
PL_MEM_CM_rev2.xml
projects/cm_mcu/MonI2C_addresses.c
projects/cm_mcu/MonI2C_addresses.h
CornellCM_MCU.tgz
CornellCM_MCU.tar.gz
